version: "3"
services: 
    db:
        image: postgres
        volumes:
          - db-pgsql:/var/lib/postgresql/data:delegated
        environment:
          - POSTGRES_DB=example
          - POSTGRES_USER=example
          - POSTGRES_PASSWORD=example
        ports: 
            - 5432:5432
        networks: 
            - boilerplate-network
    django:
        build: .
        container_name: Django-custom-boilerplate
        command: python3 app/manage.py runserver 0.0.0.0:8000 --settings=app.settings.dev_docker
        volumes:
            - ./:/usr/src/app
        ports:
            - "8000:8000"
        depends_on: 
            - migration
            - staticfiles
            - db
            - maildevs
        networks: 
            - boilerplate-network
    migration:
        build: .
        volumes:
            - ./:/usr/src/app/
        command: python3 app/manage.py migrate --settings=app.settings.dev_docker
        depends_on: 
            - db
        networks: 
            - boilerplate-network
    staticfiles:
        build: .
        volumes:
            - ./:/usr/src/app/
        command: python3 app/manage.py collectstatic --no-input --settings=app.settings.dev_docker
        depends_on: 
            - migration
        networks: 
            - boilerplate-network
    maildevs:
        image: maildev/maildev
        ports:
        - "2080:80"
        networks: 
            - boilerplate-network
    # Project unittest
    testing:
        build: .
        container_name: Django-custom-boilerplate-unittest
        volumes:
            - ./:/usr/src/app/
volumes:
    db-pgsql:

networks:
  boilerplate-network:
    driver: bridge
    name: boilerplate-network