{% extends './auth_base.html' %}
{% load static %}
{% block title %}
  {{block.super}} Password reset complete
{% endblock %}

{% block form %}

  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'img/secure.jpg'%}" alt="Card image cap">
        <div class="card-body">
          <p>
            Your password has been set. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.
          </p>
          
        </div>  
      </div>
    </div>
  </div>
  
{% endblock %}