{% extends './auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %}   
{% block title %}
  {{block.super}} Password reset
{% endblock %}

{% block form %}

  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'img/secure.jpg'%}" alt="Card image cap">
        <div class="card-body">
          {% if validlink %}
            <form method="post">
            {% csrf_token %}

            {{ form|crispy }}             

            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Change password" />
            </div>
          </form>
          {% else %}
            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            </p>
          {% endif %}
          
        </div>  
      </div>
    </div>
  </div>
  
{% endblock %}